# --- Python basics ---
__pycache__/
*.py[cod]
*$py.class

*.pyc

.deb-venv/
build-deb/
tagging_resources_aws.egg-info/

dist/
*.egg-info

# Files / Versions
.venv/
env/
venv/
.python-version
*.env
.env.*

# testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/

# Logs
*.log

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

reports/

*.pyc

.deb-venv/
build-deb/
tagging_resources_aws.egg-info/

dist/
*.egg-info

.dev-venv
# Debian build artifacts
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/tagging-resources-aws/
