# --- Python basics ---
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.deb-venv/
venv/
.dev-venv/

# Build artifacts
build-deb/
tagging_resources_aws.egg-info/
dist/
*.egg-info
*.tar.gz

# Root level unnecessary files
/__init__.py
/Packages.gz

# Files / Versions
.venv/
env/
venv/
.python-version
*.env
.env.*

# testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/

# Logs
*.log

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

reports/

*.pyc

.deb-venv/
build-deb/
tagging_resources_aws.egg-info/

dist/
*.egg-info

# stdeb3 build artifacts
deb_dist/
*.tar.gz
*.dsc
*.changes
*.buildinfo
*.debian.tar.xz

.dev-venv